.main-header {

  font-family: var(--museo-bold);
  padding: rem(20) 0;

  .link {
    text-decoration: none;
    font-family: var(--museo-black);
    display: flex;
    align-items: center;
    font-size: rem(24);

    span {
      color: var(--black-font);
    }
    strong {
      color: var(--green-light-font);
    }
  }
  .navigation {
    display: flex;
    flex-grow: 1;
  }

  .navigation-wrap {
    display: flex;
    align-items: center;
    margin-left: rem(95);
  }

  .navigation-item {
    margin-right: rem(22);
    list-style-type: none;
  }

  .navigation-link {
    font-family: var(--museo-bold);
    color: var(--black-font);
    font-size: rem(14);
    text-transform: uppercase;
    text-decoration: none;
    transition: .2s linear all;
    will-change: opacity;
    display: block;
    border-bottom: 1px solid transparent;
    &:hover {
      opacity: .8;
    }
    &__active {
      color: var(--green-light-font);
    }
  }
  
  .cart {
    position: relative;
  }
  
  .cart-img {
    svg {
      width: rem(30);
      height: rem(30);
    }
  }

  .cart-counter {
    position: absolute;
    top: -5px;
    right: -12px;

    font-size: rem(13);
    background-color: var(--red-font);
    color: var(--white-grey-font);
    padding: 4px 8px;
    border-radius: 50%

  }
}