include ../mixins/const.pug

doctype html
html(lang='ru')
    head
        title Jade
        link(href='main.css', rel='stylesheet')
    body
        include ../components/header.pug
        main
        footer.footer
